section#intro.main
    .spotlight
        .content
            header.major
                h2 This is our challenge to you.
                p
                    | Join us to engage in critical conversations
                    | regarding healthcare and pharmacy with industry giants and leading researchers.
                    | We want everyone - pharmacy students, engineers, designers, and more - to come and help
                    | solve some of the biggest challenges facing the world today.
            header.major
                h2 For Healthcare Students:
                p
                    | Even if you have no coding experience, your team will need your insights into the world of
                    | healthcare and pharmacy. Keep in mind that your fellow
                    | participants are students like yourself, and everyone is trying to work together to learn
                    | and develop amazing ideas.
            header.major
                h2 For Tech-Based Students:
                p
                    | Even if you have no experience with healthcare or pharmacy, your team will need your ability
                    | to rapidly produce software from ideas. Your team
                    | will provide the healthcare background that you need to succeed. Remember that everyone will
                    | be learning to build something together.

            .videoWrapper
                video(autoplay=false controls=true loop=false muted=false playsinline=true preload='metadata' style="width: 100%; border: 1px solid #ccc;")
                    source(src='https://github.com/PittChallenge/pittchallenge.com/raw/master/z_images/pittchallenge_2022_video.mp4' type='video/mp4')
                    p Your browser does not support the video tag.